@import "../../../styles.css";

.content {
  border: 1px solid #252529;
  padding: 1rem;
  border-radius: 8px;
  max-width: 800px;
  margin: 1rem 1rem;
  background-color: var(--background-medio);
}

.content:hover {
  border: 1px solid var(--destaques);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-inter);
  color: var(--destaques);
  font-size: 14px;
  margin-bottom: 1rem;
}

.header-content img {
  width: 20px;
  cursor: pointer;
}

.body-content {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.body-content h2 {
  font-family: var(--font-space);
  font-size: 1.2rem;
  color: var(--branco);
  margin-bottom: 16px;
}

.body-content p {
  color: var(--cinza);
  font-family: var(--font-inter);
  font-size: 1rem;
}

.favorite {
  border: 1px solid var(--destaques);
}
