<div class="notice">
  <div class="content favorite" [ngClass]="{ favorite: favorite }">
    <div class="header-content">
      <span>{{ data }}</span>
      <img
        *ngIf="!favorite"
        (click)="addToFavorite()"
        src="../../../assets/icons/icon-heart.svg"
      />
      <img
        *ngIf="favorite"
        (click)="addToFavorite()"
        src="../../../assets/icons/icon-heart-active.svg"
      />
    </div>
    <div class="body-content">
      <h2>{{ title }}</h2>
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</div>
