<div class="notice">
  <div class="content">
    <div class="header-content">
      <span>{{ data }}</span>
      <img src="../../../assets/icons/icon-heart.svg" />
    </div>
    <div class="body-content">
      <h2>O que é linguagem de programação? Conheça as principais</h2>
      <p>
        Uma das mais populares vertentes da tecnologia da informação, a área de
        programação segue tendo muita demanda de trabalho justamente pela
        velocidade com que dispositivos tecnológicos vêm avançando.
      </p>
    </div>
  </div>
</div>
