@import "../../../styles.css";

.main-container {
  margin: 1.5rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-escuro);
}
